//非表示
.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 100px 1fr 1fr 100px;
}

header{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: auto 0;

   .search_container{
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    padding: 3px 10px;
    border-radius: 3px;
    height: 2.3em;
    width: 100%;
    overflow: hidden;

    input{
        border: none;
        height: 2.0em;
        width: 80%;
    }

    input:focus {
        outline: 0;
    }

    button{
        cursor: pointer;
        border: none;
        background: none;
        color: #3879D9;
        position: absolute;
        width: 30px;
        height: 30px;
        right: 5px;
        top: 1px;
        outline : none;
    }

    img{
        width: 20px;
    }
  } 
}

main{
    grid-column: 2/3;
    grid-row: 2/3;

    #history{
        background-color: #effeff;

        h2{
            text-align: center;
            padding-top: 5px;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                width: 45%;
                margin: 2.5%;
                padding: 2%;
                border: solid 1px rgb(171, 171, 171);
                border-radius: 5px;
                background-color: rgb(248, 248, 248);

                p{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 14px;
                }

                img{
                    margin-right: 5px;
                    width: 30px;
                    float: left;
                }
            }
        }
    }
}

footer{
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: #3879D9;
    width: 100%;
    position: sticky;
    bottom: 0;
}

